[submodule "openssl"]
	path = openssl
	url = https://github.com/tlspuffin/openssl
[submodule "openssl101f"]
	path = openssl101f
	url = https://github.com/tlspuffin/openssl
[submodule "openssl102u"]
	path = openssl102u
	url = https://github.com/tlspuffin/openssl
